

/* Style Sheet */

/* everything in between these quotes is a comment */
/* if written correctly, these won't effect your code*/

body {
  /* */
background-color: #34c9eb;
padding:20px;
font-family: "lato", sans-serif;


}

h1 {

}
